<?xml version="1.0"?>
<!-- phpunit.xml -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd" backupGlobals="false" colors="true" bootstrap="vendor/autoload.php">
  <source>
    <include>
      <directory suffix=".php">src</directory>
    </include>
    <exclude>
      <file>src/config/publish.php</file>
    </exclude>
  </source>
  <testsuites>
    <testsuite name="Tests">
      <directory>src/test</directory>
    </testsuite>
  </testsuites>
</phpunit>
